body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
	overflow: auto;
    overflow-y: scroll;
    letter-spacing: 0;
    line-height: 1.5;
    font-size: 15px;
    color: #444;
    font-weight: 400;
    font-family: NanumBarunGothic,Dotum,sans-serif;
}
#header .util-area .left-link a {
    float: left;
    margin-right: 20px;
    vertical-align: top;
}
#header .util-area .right-link a:first-child {
    margin-left: 0;
}
#header .util-area .right-link a {
    display: block;
    float: left;
    margin-left: 20px;
    vertical-align: top;
}
#header {
    position: relative;
    z-index: 100;
    width: 100%;
    min-width: 1100px;
    height: 91px;
    background: #fff;
    border-bottom: 1px solid #351f67;
  	padding: 1px;
}

* {  box-sizing: border-box; }

html { -webkit-text-size-adjust: 100%; }

.left { float:left; }

.right { float:right; }

em { font-style: normal; }

#header .ci {
    position: absolute;
    left: 50%;
    top: 23px;
    width: 140px;
    height: 90px;
    margin: 0 0 0 -70px;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

h1 { margin: 0.67em 0; font-size: 2em; }

#header .ci a {
    display: block;
    width: 140px;
    height: 47px;
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    background: url(../image/logo_new2.png) center center no-repeat;
}

a:link {
    color: #444;
    text-decoration: none;
}

a { background-color: transparent; }

#header.no-bg .util-area { color: #888; }

#header .util-area {
    position: relative;
    width: 1100px;
    margin: 0 auto;
    color: #666;
}

#header .util-area .left-link {
    position: absolute;
    top: 15px;
    left: 0;
    font-size: .8667em;
}

#header .util-area .right-link {
    position: absolute;
    top: 15px;
    right: 0;
    font-size: .8667em;
}

#header .link-area {
    position: relative;
    width: 1100px;
    margin: 0 auto;
}

#header .link-area a {
    display: block;
    position: absolute;
    top: 42px;
    width: 36px;
    height: 36px;
    font-size: 0;
    line-height: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}

#header .link-area a.menu-open-btn {
    left: 0;
    background-image: url(../image/ico-sitemap.png);
}

#header .link-area a.menu-open-btn.on {
	left: 0;
    background-image: url(../image/btn-header-layer-close.png);
}

#header .link-area a.search-btn {
    left: 40px;
    background-image: url(../image/ico-search-white.png);
}

#header .link-area a.link-ticket {
    right: 40px;
    background-image: url(../image/ico-schedule.png);
}

#header .link-area a.mymegabox {
    right: 0;
    background-image: url(../image/ico-mymega.png);
}

#header .link-area a.mymegabox.on {
    right: 0;
    background-image: url(../image/btn-header-layer-close.png);
}

/* a:active, a:focus, a:hover {
	color:#666;
	text-decoration:underline;
} */
.button:hover {
    text-decoration: none;
}
#header.no-bg #gnb>ul>li>a:after {
	background-color: #fff;
}
#gnb>ul>li.on>a:after {
	display: block;
}
#gnb>ul>li>a:after {
	content: '';
	display: none;
	position: absolute;	
}
#gnb {
    height: 0;
}
#gnb ul li a:focus, #gnb ul li a:hover {
	text-decoration: none;
}
#gnb>ul>li>a:after {
	content: '';
	display: none;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3px;
	background-color: #fff;
}
#header.no-bg
#gnb>ul>li>a:after {
	background-color: #339eb2;
}
#gnb .gnb-depth2 ul li
a:focus, #gnb .gnb-depth2 ul li a:hover {
	text-decoration: underline;
}
#gnb.on {
	height: 44px;
	background-color:#339eb2;
}
#gnb .gnb-depth2 ul li a {
    overflow: hidden;
    display: block;
    height: 44px;
    line-height: 44px;
    color: #fff;
}
ol, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#gnb>ul {
    position: relative;
    width: 1100px;
    margin: 90px auto 0 auto;
}

#gnb ul li {
    margin: 0;
    padding: 0;
}

#header.no-bg #gnb>ul>li>a {
    color: #fff;
}

#gnb>ul>li>a.gnb-txt-movie {
    width: 30px;
    background-image: url(../image/gnb-txt-movie.png);
}

#gnb>ul>li>a.gnb-txt-reserve {
    width: 30px;
    background-image: url(../image/gnb-txt-reserve.png);
}

#gnb>ul>li>a.gnb-txt-theater {
    width: 31px;
    background-image: url(../image/gnb-txt-theater.png);
}

#gnb>ul>li>a.gnb-txt-event {
    width: 45px;
    background-image: url(../image/gnb-txt-event.png);
}

#gnb>ul>li>a.gnb-txt-store {
    width: 44px;
    background-image: url(../image/gnb-txt-store.png);
}

#gnb>ul>li>a.gnb-txt-benefit {
    width: 29px;
    background-image: url(../image/gnb-txt-benefit.png);
}

#gnb>ul>li:nth-child(1)>a { left: 166px; }

#gnb>ul>li:nth-child(2)>a { left: 256px; }

#gnb>ul>li:nth-child(3)>a { left: 345px; }

#gnb>ul>li:nth-child(4)>a { right: 347px; }

#gnb>ul>li:nth-child(5)>a { right: 241px; }

#gnb>ul>li:nth-child(6)>a { right: 150px; }

#gnb>ul>li>a {
    position: absolute;
    top: -38px;
    height: 38px;
    text-indent: -9999px;
    background-position: center 0;
    background-repeat: no-repeat;
}

#gnb ul li a {
    display: block;
}

#gnb .gnb-depth2 {
    display: none;
    position: absolute;
    width: 100%;
    height: 44px;
}

#header.no-bg #gnb>ul>li:nth-child(1) .gnb-depth2 ul { background-position: 0 0; }

#gnb>ul>li:nth-child(1) .gnb-depth2 ul { padding-left: 50px; }

#header.no-bg #gnb>ul>li:nth-child(2) .gnb-depth2 ul { background-position: 100px 0; }

#gnb>ul>li:nth-child(2) .gnb-depth2 ul { padding-left: 200px; }

#header.no-bg #gnb>ul>li:nth-child(3) .gnb-depth2 ul { background-position: 180px 0; }

#gnb>ul>li:nth-child(3) .gnb-depth2 ul { padding-left: 300px; }

#header.no-bg #gnb>ul>li:nth-child(4) .gnb-depth2 ul { background-position: 540px 0; }

#gnb>ul>li:nth-child(4) .gnb-depth2 ul { padding-left: 598px; }

#header.no-bg #gnb>ul>li:nth-child(6) .gnb-depth2 ul { background-position: 760px 0; }

#gnb>ul>li:nth-child(6) .gnb-depth2 ul { padding-left: 834px; }

#gnb .gnb-depth2 ul {
    overflow: hidden;
    display: block;
}

#gnb .gnb-depth2 ul li:first-child { margin-left: 0; }

#gnb .gnb-depth2 ul li {
    display: block;
    float: left;
    margin-left: 19px;
}

#gnb ul li {
    margin: 0;
    padding: 0;
}

#gnb>ul>li.on .gnb-depth2 {
	display:block;
}

#gnb ul:after, #gnb ul:before {
    content: '';
    display: table;
}

#gnb ul:after { clear: both;}

.left-link a{ color:#888; }

.right-link a{ color:#888; }

.layer-mynega.on { display: block; }

.layer-mynega {
    display: none;
    position: absolute;
    left: 0;
    top: 90px;
    width: 100%;
    height: 295px;
    background-color: #037b94;
    z-index: 99;
}

.layer-mynega .wrap {
    overflow: hidden;
    position: relative;
    width: 1100px;
    height: 100%;
    margin: 0 auto;
}

.layer-mynega .wrap .login-after {
    overflow: hidden;
    padding: 50px 0 0 250px;
    color: #fff;
}

.layer-mynega .wrap .login-after .user-info {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 50px;
    width: 250px;
    height: 185px;
    border-right: 1px solid rgba(255,255,255,.2);
}
.layer-mynega p {
    margin: 0;
    padding: 0;
}
.layer-mynega .wrap .login-after .user-info .info {
    padding: 5px 0;
}
.layer-mynega .wrap .login-after .user-info .info em {
    font-size: 1.333em;
}
.info .name {
	color:#fff;
}
em {
    font-style: normal;
}
.layer-mynega .wrap .login-after .user-info .last-date {
    font-size: .8667em;
    line-height: 1.1;
}
.layer-mynega .wrap .login-after .user-info .btn-fixed {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.layer-mynega .wrap .button {
    border-color: #fff;
    color: #fff;
    background-color: transparent;
}
.layer-mynega .wrap .login-after .box {
    overflow: hidden;
    position: relative;
    float: left;
    width: 25%;
    height: 185px;
    padding: 25px 0 0 0;
    text-align: center;
}
.layer-mynega .wrap .login-after .box .coupon .count:after {
    content: '/';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}
.layer-mynega .wrap .login-after .box .point .tit {
    line-height: 1.1;
}
.layer-mynega p {
    margin: 0;
    padding: 0;
}
.layer-mynega .wrap .login-after .box .point .count {
    margin: 0;
    padding: 27px 0 0 0;
    letter-spacing: -1px;
    line-height: 1.1;
    font-size: 2.666em;
    font-weight: 300;
    font-family: Roboto;
}
.layer-mynega .wrap .login-after .box .btn-fixed {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.layer-mynega .wrap .login-after .box .btn-fixed .button {
    margin: 0 3px;
}
.layer-mynega .wrap .button {
    border-color: #fff;
    color: #fff;
    background-color: transparent;
}
.layer-mynega .wrap .login-after .box .coupon .count em {
    display: block;
    float: left;
    width: 50%;
    padding: 0 10px 0 0;
    text-align: right;
}
.layer-mynega .wrap .login-after .box .coupon .count span {
    display: block;
    float: left;
    width: 50%;
    padding: 0 0 0 10px;
    text-align: left;
}
.layer-mynega .wrap .login-after .box .coupon .btn-fixed .button {
    width: 68px;
    padding: 0;
}
.layer-mynega .wrap .login-after .box .reserve .txt {
    padding: 30px 0 0 0;
    font-size: 1.6em;
    line-height: 1.3;
    display: inline-block;
    max-height: 124px;
    white-space: normal;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.layer-mynega .wrap .login-after .box .coupon .count {
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 27px 0 0 0;
    letter-spacing: -1px;
    line-height: 1.1;
    font-size: 2.666em;
    font-weight: 300;
    font-family: Roboto;
}
.layer-mynega .wrap .login-after .box .buy .count {
    margin: 0;
    padding: 27px 0 0 0;
    letter-spacing: -1px;
    line-height: 1.1;
}
.layer-mynega .wrap .login-after .box .buy .count em {
    display: inline-block;
    font-size: 2.666em;
    font-weight: 300;
    font-family: Roboto;
    vertical-align: middle;
}
.layer-mynega .wrap .login-after .box .buy .count span {
    display: inline-block;
    font-size: 1.6em;
    vertical-align: middle;
}
.layer-mynega .wrap .login-before {
    color: #fff;
    text-align: center;
}
.layer-mynega .wrap .login-before .txt {
    padding: 65px 0 20px 0;
}
.mb50 {
    margin-bottom: 50px!important;
}
.layer-mynega .wrap .button {
    border-color: #fff;
    color: #fff;
    background-color: transparent;
}
.layer-mynega .wrap .login-before .link {
    display: inline-block;
    margin: 0;
    padding: 0 0 5px 0;
    line-height: 1.1;
    border-bottom: 1px solid #fff;
    border-color: rgba(255,255,255,.5);
    text-decoration: none;
}
.layer-mynega .wrap a {
    color: #fff;
}
.layer-sitemap {
    display: none;
    position: absolute;
    left: 0;
    top: 90px;
    z-index: 101;
    width: 100%;
    min-width: 1100px;
    height: 750px;
    overflow: auto;
    background-color: #333;
}
.layer-sitemap .layer_sitemap_wrap {
    overflow: hidden;
    position: relative;
    width: 1100px;
    height: 100%;
    margin: 0 auto;
}
.layer-sitemap .layer_sitemap_wrap .link-acc {
    overflow: hidden;
    width: 1px;
    height: 1px;
    position: absolute;
    left: -99999px;
    top: -99999px;
}
.layer-sitemap .layer_sitemap_wrap .tit {
    padding: 27px 0 0 0;
    font-size: 1.4666em;
    color: #fff;
    line-height: 1.1;
}
.layer-sitemap .layer_sitemap_wrap .list.position-1 {
    left: 0;
    top: 80px;
    width: 159px;
}
.layer-sitemap .layer_sitemap_wrap .list {
    position: absolute;
    width: 158px;
}
.layer-sitemap .layer_sitemap_wrap .list .tit-depth {
    height: 48px;
    color: #fff;
    font-size: 1.2em;
    line-height: 46px;
    text-align: center;
    border-width: 1px 0;
    border-color: rgba(68,68,68,.5);
    border-style: solid;
}
.layer-sitemap .layer_sitemap_wrap .list .list-depth {
    padding: 0;
    margin: 0;
    line-height: 1.1;
}
.layer-sitemap .layer_sitemap_wrap .list .list-depth li:first-child {
    padding: 0 0 0 0;
    text-align: center;
}
.layer-sitemap .layer_sitemap_wrap .list .list-depth li {
    padding: 18px 0 0 0;
    text-align: center;
}
.layer-sitemap li {
    list-style: none;
}
.layer-sitemap .layer_sitemap_wrap .list .list-depth li a {
    display: inline-block;
    color: #bbb;
}
.layer-sitemap .layer_sitemap_wrap .list.position-2 {
    left: 189px;
    top: 80px;
}
.layer-sitemap .layer_sitemap_wrap .list.position-3 {
    left: 377px;
    top: 80px;
}
.layer-sitemap .layer_sitemap_wrap .list.position-4 {
    left: 565px;
    top: 80px;
}
.layer-sitemap .layer_sitemap_wrap .list.position-5 {
    left: 753px;
    top: 80px;
}
.layer-sitemap .layer_sitemap_wrap .list.position-6 {
    left: 941px;
    top: 80px;
    width: 159px;
}
.layer-sitemap .layer_sitemap_wrap .list.position-7 {
    left: 0;
    top: 368px;
    width: 159px;
}
.layer-sitemap .layer_sitemap_wrap .list.position-8 {
    left: 189px;
    top: 368px;
}
.layer-sitemap .layer_sitemap_wrap .list.position-9 {
    left: 377px;
    top: 368px;
}
.layer-sitemap .layer_sitemap_wrap .list.position-10 {
    left: 565px;
    top: 368px;
}
.ir {
    text-indent: -9999px;
    position: fixed;
    top: -9999px;
    font-size: 1px;
    width: 1px;
    height: 1px;
    opacity: 0;
}
body div.background {
    display: none;
}
div.wrap1 {
    width: 850px;
    height: 484px;
    margin: 0 auto;
    margin-top: 200px;
}
div.wrap-login {
    background-color: #503396;
    width: 850px;
    height: 46px;
    color: #fff;
}
div.wrap-login h3 {
    margin-left: 15px;
    font-size: 18px;
    font-weight: 400;
    line-height: 17px;
    padding: 15px;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
div.wrap-login a {
    margin-right: 20px;
    margin-top: 15px;
}
div.layer-login {
    height: 440px;
    background-color: #fff;
    position: absolute;
    width: 440px;
}
div.login-input-area {
    width: 380px;
    margin: 20px;
}
div.login-input-area input[type="text"], div.login-input-area input[type="password"] {
    display: block;
    height: 40px;
    width: 380px;
    border: 1px solid #d8d9db;
    padding-left: 10px;
    font-size: 15px;
}
button, input {
    overflow: visible;
}
.chk {
    margin-right: 45px;
    margin-left: 17px;
    margin-top: -20px;
    height: 50px;
}
.ad {
    position: relative;
    display: inline-block;
    color: #3d7db7;
    float: right;
    vertical-align: middle;
    font-size: 15px;
    margin-left: 10px;
}
.but {
    line-height: 46px;
    display: block;
    width: 380px;
    color: #777;
    background-color: #e0e0e0;
    border-color: #e0e0e0;
    margin-left: 20px;
    height: 46px;
    border: 0;
    border-radius: 5px;
}
.link {
    height: 25px;
    font-size: 14px;
    margin: 20px;
    margin-left: 46px;
}
.link a {
    margin: 0 23px;
}
.sns-login {
    margin: 20px;
    margin-left: 35px;
    margin-top: 30px;
}
.sns-login a {
    overflow: hidden;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 23px;
    font-size: 0;
    line-height: 0;
}
.right-login {
    width: 427px;
    height: 440px;
    background: #fff;
    position: relative;
    float: right;
}
.login-ad {
    background-color: rgb(255, 255, 255);
    margin: 20px;
}
#footer {
    height: 200px;
    width: 100%;
    /* margin: 0 -8px 0 -8px; */
    background-color: #f8f8fa;
}
.container1 {
    width: 1100px;
    margin: 0px auto;
}
#footerbox1 {
    width: 100%;
    height: 30px;
    padding: 30px 0;
    margin: 0;
}
.footerlink {
    display: block;
    color: #666;
    line-height: 30px;
    font-size: .8em;
    margin: 0 10px 10px 0;
    float: left;
}
#footerbox {
    overflow: hidden;
    box-sizing: border-box;
    width: 106px;
    height: 30px;
    margin: 5px 0 0 0;
    padding: 0;
    text-align: center;
    display: block;
    line-height: 28px;
    font-size: .8667em;
    color: #666;
    border: 1px solid #d8d9db;
    border-radius: 30px;
    float: right;
}
#footerbox4 {
    width: 85%;
    height: 60px;
    display: block;
    margin: 0;
    float: left;
}
#footerbox2 {
    width: 100%;
    height: 60px;
    display: block;
    margin: 0;
}
#footerbox3 {
    width: 185px;
    height: 30px;
    display: block;
    margin: 0;
    float: right;
    position: relative;
    bottom: 60px;
    right: -168px;
}
.footertext {
    font-size: .7777em;
    font-weight: 400;
    color: #444;
    float: left;
    vertical-align: top;
    display: inline-block;
    margin: 0;
}
.layer-sitemap.on{
    display: block;
    position: absolute;
    left: 0;
    top: 90px;
    z-index: 101;
    width: 100%;
    min-width: 1100px;
    height: 750px;
    overflow: auto;
    background-color: #333;
}
body div.background.on{
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 900px;
    background-color: rgb(30,30,30,0.9);
    z-index: 101;
}
body div.background{
    display:none;
}
.layer-sitemap{
    display: none;
    position: absolute;
    left: 0;
    top: 90px;
    z-index: 101;
    width: 100%;
    min-width: 1100px;
    height: 750px;
    overflow: auto;
    background-color: #333;
}
.button {
	display: inline-block;
	height: 36px;
	width: 160px;
	margin: 0;
	padding: 0 15px;
	text-align: center;
	line-height: 34px;
	color: #503396;
	font-weight: 400;
	border-radius: 4px;
	/* font-family: NanumBarunGothic,Dotum; */
	text-decoration: none;
	border: 1px solid #503396;
	vertical-align: middle;
	background-color: #fff;
	cursor: pointer;
}
.page-util {
    display: block;
    position: static;
    width: 100%;
    height: 42px;
    background-color: #f8f8fa;
}
.page-util .inner-wrap {
	width: 1100px;
    margin: 0 auto;
}
.inner-wrap:after, .inner-wrap:before {
    content: '';
    display: table;
}
.page-util .location {
    float: left;
    height: 42px;
}
.page-util .location span {
    overflow: hidden;
    display: block;
    float: left;
    width: 13px;
    height: 100%;
    margin: 0;
    padding: 0;
    text-indent: -9999px;
    background: url(../image/bg-location-home.png) no-repeat center;
}
.page-util .location a {
    display: block;
    position: relative;
    float: left;
    height: 42px;
    margin: 0 0 0 25px;
    padding: 0;
    line-height: 46px;
    color: #666;
}
.page-util .location a:before, .page-util .location span.no-link:before {
    content: '';
    display: block;
    position: absolute;
    left: -14px;
    top: 0;
    width: 5px;
    height: 42px;
    background: url(../image/bg-location-arr.png) no-repeat left center;
}
.inner-wrap:after {
    clear: both;
}